.section {
  position: relative;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  text-shadow: 0 0 5px #000;
  padding: 3em;
  text-align: left;
}

@media (max-width: 850px) {
  .section {
    padding-left: 4em;
  }
}

.section.static {
  height: 20vh;
  background-color: #ff6633;
  background-image: url('./../assets/dim-fond-opti.jpg');
  font-size: 2.5em;
  align-items: center;
  flex-wrap: nowrap;
}

.parallax::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.1);
  background-size: 100%;
  z-index: -1;
}

@media (max-width: 950px) {
  .section.static {
    height: 15vh;
    font-size: 1em;
    background-size: cover;
    padding: 0.3em;
  }
}

.bg1::after {
  background-image: url('./../assets/ci.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  opacity: 0.2;
}

.bg2::after {
  background-image: url('./../assets/logo-react-js.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.bg3::after {
  background-image: url('./../assets/logo\ node\ JS.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.bg4::after {
  background-image: url('./../assets/npm.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.bg5::after {
  background-image: url('./../assets/github.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.bg6::after {
  background-image: url('./../assets/git.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}
