@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.current-link {
  color: white;
}

h1,
h2,
h3,
a {
  font-family: 'Press Start 2P', 'Permanent Marker', cursive, sans-serif;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-shadow: 0 0 5px #000;
  padding: 1em;
  text-align: left;
}

.bg1 {
  font-size: 2em;
  color: black;
  line-height: 3em;
  z-index: -2;
}

@keyframes opacityOnAndOff {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

dot {
  animation: opacityOnAndOff 1.5s infinite ease-out;
}

.bg2 {
  z-index: -2;
}

.bg3 {
  z-index: -2;
}

@media (max-width: 800px) {
  .bg1 {
    font-size: 1em;
  }
}

.parallax::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.1);
  background-size: 100%;
  z-index: -1;
}

.static {
  height: 30vh;
  background-color: #031a19;
}

.bg1::after {
  background-image: url('/assets/Logo_Dim.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.bg2::after {
  background-image: url('/assets/logo-react-js.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.bg3::after {
  background-image: url('/assets/logo\ node\ JS.png');
  background-size: contain;
  background-repeat: no-repeat;
}
