@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Oswald', cursive, sans-serif;
}

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}

#nav {
  background-color: #ff6633;
  background-image: url('/assets/dim-fond-opti.jpg');
  background-position: center;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 90%;
  z-index: 10;
  font-size: 1.8em;
  left: 50%;
  margin-left: -45%;
  border-radius: 4px;
}

@media (max-width: 850px) {
  #nav {
    background-size: cover;
  }
}

#nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#nav ul a {
  text-decoration: none;
  height: 100%;
  color: white;
  margin: 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}

#nav ul a.current-link {
  height: 80%;
  width: 4.5em;
  background-color: rgba(255, 255, 255, 0.5);
  border-top: 2px solid #ff6633;
  border-radius: 4px;
  color: black;
  transition: 0.5s;
}

.section {
  position: relative;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  text-shadow: 0 0 5px #000;
  padding: 3em;
  text-align: left;
}

@media (max-width: 850px) {
  .section {
    padding-left: 4em;
  }
}

#home {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 3em;
  height: 60vh;
  color: #000;
}

@media (max-width: 1250px) {
  #home {
    padding: 8em 1em;
    flex-direction: column;
  }
}

#home h1 {
  overflow: hidden;
  border-right: 0.15em solid #ff6633;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.2em;
  animation: typing 8s steps(20, end) infinite,
    blink-caret 0.75s step-end infinite;
}

@media (max-width: 850px) {
  #home h1,
  h3 {
    font-size: 0.5em;
  }
}

#home .logo_home {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .logo_home img {
  height: 300px;
}

@keyframes typing {
  from {
    width: 0;
  }
  20% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ff6633;
  }
}

.card {
  padding: 0.5em;
  min-height: 400px;
  min-width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 6px 6px 2px 1px rgba(5, 63, 62, 0.33);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  margin-right: 2em;
  margin-top: 0.5em;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  height: 300px;
  width: 300px;
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 0 33px rgba(5, 63, 62, 0.33);
}

.card p {
  height: 100px;
  width: 300px;
  padding: 1em;
  font-size: 2em;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

.experience_content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.experience_content .circle_border {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 270px;
  height: 270px;
  border-radius: 100%;
  background-color: #ff6633;
  margin: 2em;
  transition: 0.2s;
  box-shadow: 8px 9px 4px 1px rgba(5, 63, 62, 0.33);
}

.circle_border:hover {
  transform: scale(1.05);
}

.experience_content span {
  display: flex;
  position: absolute;
  margin: 1.5em;
  align-items: center;
  justify-content: center;
  height: 240px;
  width: 240px;
  border-radius: 100%;
  background-color: white;
  color: black;
  font-size: 1.5em;
}

.diplomes_content {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 1em;
}

.bg2 {
  z-index: -2;
}

.bg3 {
  z-index: -2;
}

@media (max-width: 850px) {
  .bg1 {
    font-size: 1em;
  }
}

.parallax::after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.1);
  background-size: 100%;
  z-index: -1;
}

.section.static {
  height: 20vh;
  background-color: #ff6633;
  background-image: url('/assets/dim-fond-opti.jpg');
  font-size: 2.5em;
  align-items: center;
  flex-wrap: nowrap;
}

@media (max-width: 850px) {
  .section.static {
    height: 15vh;
    font-size: 1.5em;
    background-size: cover;
  }
}

.bg1::after {
  background-image: url('/assets/ci.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.bg2::after {
  background-image: url('/assets/logo-react-js.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.bg3::after {
  background-image: url('/assets/logo\ node\ JS.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.bg4::after {
  background-image: url('/assets/npm.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.bg5::after {
  background-image: url('/assets/github.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.bg6::after {
  background-image: url('/assets/git.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}
